<cfset THIS.javaSettings = {LoadPaths = ["/lib"],reloadOnChange=true,watchInterval=10}/>
<cfset this.name = "CF-4205501">

<cffunction name="onApplicationStart">
  <cfset instance=new cf.HelloWorld()>
  <cfset dynInstnace = createDynamicProxy(instance, ["MyInterface"])>
  <cfset x = createObject("java","InvokeHelloProxy").init(dynInstnace)>
  <cfset y = x.invokeHello()>
  <cfoutput>#y#</cfoutput>

  <cfthread action="run" name="myThread">
    <cfset CfTestObj = createObject("java","CFTest") />
    <cfset result = CfTestObj.getString()>
    <cfset result2 = CfTestObj.run()>
    <cfoutput>#result#</cfoutput>
   </cfthread>

</cffunction>
