<cfcomponent>
	<cffunction name="sayHello" returntype="string">
		<cfquery name="test" datasource="local">
			SELECT * FROM testdb.company_d
		</cfquery>
		<cfset writeDump(test)>
		
		<cfreturn "Hello World!!!!">
	</cffunction>
</cfcomponent>
